<div class="dashboard-container">
  <!-- Add Book Modal -->
  <div *ngIf="isAddBookModalVisible" class="modal-overlay" (click)="onCloseModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="onCloseModal()">×</button>
      <app-add-book (bookAdded)="onAddBook()"></app-add-book>
    </div>
  </div>

  <!-- Loading Modal -->
  <div *ngIf="isLoading" class="modal-overlay">
    <div class="loader"></div>
  </div>

  <!-- Sticky Header with Add Book Button and Filter -->
  <div class="header-container">
    <header class="content-header">
      <h1>Books Lending</h1>
    </header>
    <div class="header-actions">
      <button (click)="onAddBook()" class="add-btn">Add New Book</button>
      <div class="filter-container">
        <h3>Filter by Status:</h3>
        <div class="filter-checkboxes">
          <label *ngFor="let status of BookStatus | keyvalue">
            <input type="checkbox"
                   [(ngModel)]="statusFilters[status.value]"
                   (change)="onFilterChange()">
            {{ status.value.replace('_', ' ') }}
          </label>
        </div>
      </div>
    </div>
  </div>


  <!-- Book List and Grid -->
  <section class="content-body">
    <div class="book-grid">
      <div *ngFor="let book of books" class="book-card">
        <img [title]="book.title" [src]="book.coverUrl" alt="{{ book.title }}" class="lazy-img">
        <h3 [title]="book.title">{{ book.title }}</h3>
        <p [title]="book.author">{{ book.author }}</p>
        <p>ISBN: {{ book.isbn }}</p>

        <div class="button-group">
          <p>
            Status:
            <span
              [ngClass]="{
              'available': book.status === BookStatus.AVAILABLE,
              'reserved': book.status === BookStatus.RESERVED,
              'lentout': book.status === BookStatus.LENT_OUT,
              'borrowed': book.status === BookStatus.BORROWED,
              'returned': book.status === BookStatus.RETURNED
            }">
            {{ book.status.replace('_', ' ') }}
          </span>
          </p>
          <button
            *ngIf="book.status === BookStatus.RESERVED"
            (click)="onCancelReservation(book)"
            class="cancel-btn">
            Cancel Reservation
          </button>
          <button
            *ngIf="book.status === BookStatus.RESERVED "
            (click)="onMarkAsLentout(book)"
            class="lentout-btn">
            Lend
          </button>
          <button
            *ngIf="book.status === BookStatus.RETURNED"
            (click)="onMarkAsReturned(book)"
            class="return-btn">
            Accept Returned
          </button>
          <button
            *ngIf="book.status === BookStatus.AVAILABLE"
            (click)="onConfirmRemoveBook(book)"
            class="remove-btn">
            Remove Book
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="loader">Loading...</div>
  </section>

  <!-- Confirmation Modal -->
  <app-confirmation-modal *ngIf="isConfirmModalVisible"
                          [bookTitle]="selectedBook?.title ?? ''"
                          (confirm)="onRemoveBookConfirmed()"
                          (close)="onCloseConfirmModal()">
  </app-confirmation-modal>
</div>
